<div class="widget-header">
  <h3>评论管理</h3>
</div>
<table class="table">
  <thead>
    <tr>
      <th width="10%">#</th>
      <th></th>
      <th width="10%"></th>
    </tr>
  </thead>
  <%= render @comments %>
</table>
<div class="widget-footer">
  <%= will_paginate @comments %>
</div>