<%= div_for comment do %>
<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span10">
    <div class="content"><%= comment.content %></div>
    <div class="created_at"><%= comment.created_at %></div>
  </div>
</div>
<% end %>