<div class="comments">
  <%= render @comments %>
  
  <div class="widget">
    <div class="row-fluid">
      <div class="span2">

      </div>
      <div class="span10">
        <%= form_for Comment.new, :url => comments_path(:topic_id => @topic), :remote => true do |f| %>
        <%= f.text_area :content, :style => "height: 60px; width: 98%;" %>
          <div class="clearfix">
            <%= f.submit :class => "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>