<%= div_for topic do %>
<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span10">
    <div><%= topic.content %></div>
    <div>发布时间：<%= topic.created_at %></div>
  </div>
</div>
<% end %>