<%= simple_form_for [:oauth, application], :html => {:class => "form-horizontal"} do |f| %>
  <%= f.input :name %>
  <%= f.input :redirect_uri %>
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
