<div class="widget">
  <div class="widget-header">
    <h3>New application</h3>
  </div>
  
  <%= render 'form', :application => @application %>
</div>

<div class="span4">
  <h3>Actions</h3>
  <p><%= link_to 'Back to application list', oauth_applications_path %></p>
</div>

