<div class="widget-header">
  <h3><%= @page_title %></h3>
</div>

<div class="widget-content">
  <table class="table">
    <%= render @topics %>
  </table>
</div>

<div class="widget-footer">
  <%= will_paginate @topics %>
</div>