/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

body {
  background: #f0f0f5;
}

.breadcrumb {
  margin-top: 20px;
}

.widget {
  border-radius: 6px;
  margin-bottom: 20px;
  background: #FFF;
}
.widget .widget-header {
  padding: 9px 15px;
  border-bottom: 1px solid #E5E5E5;
}
.widget .widget-body {
  padding: 9px 15px;
}
.widget .widget-footer {
  padding: 9px 15px;
  border-top: 1px solid #E5E5E5;;
}
.widget h3 {
  margin: 0;
  line-height: 1.3em;
}
.widget form {
  margin-bottom: 0;
}
.widget .form-horizontal {
  margin: 20px 0;
}
.widget .table {
  margin: 0;
}
.widget .pagination {
  margin: 0;
}
.widget .form-actions {
  border-radius: 0 0 6px 6px;
  margin-bottom: 0;
}