// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  margin: 5px 0;
  padding-top: 5px;
  border-top: solid 1px #CCC;
  font-size: 12px;
  
  .created_at {
    color: #999;
  }
}