// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics {
  box-shadow:0 0 5px #DDD;
  overflow: hidden;
}

.topic {
  cursor: pointer;
  padding: 7px 20px;
  box-shadow: inset 0 -1px 0 #E2E2E2;
  background: -webkit-linear-gradient(top, #F8F8F8 80%, #F0F0F0);
}