<div class="widget">
  <div class="widget-body">
    这个单纯的widget
  </div>
</div>

<div class="widget">
  <div class="widget-body widget-green">
    这个单纯的widget
  </div>
  <div class="widget-body widget-red">
    这个单纯的widget
  </div>
  <div class="widget-body widget-green">
    这个单纯的widget
  </div>
</div>

<div class="widget">
  <div class="widget-header">
    <h3>这个是标题</h3>
  </div>
  <div class="widget-body">
    这个单纯的widget
  </div>
</div>

<div class="widget">
  <div class="widget-header">
    <h3>这个是标题</h3>
  </div>
  <div class="widget-body">
    这个单纯的widget
  </div>
  <div class="widget-footer">
    这个是尾部
  </div>
</div>


<div class="widget">
  <div class="widget-header">
    <h3>这个是标题</h3>
  </div>
  <div class="widget-body">
    这个单纯的widget
  </div>
  
  <div class="widget-body">
    这个单纯的widget
  </div>
  <div class="widget-footer">
    这个是尾部
  </div>
</div>