<div class="widget-header">
  <div class="pull-right">
    <%= link_to "新建用户", [:new, :admin, :user], :class => "btn btn-primary" %>
  </div>
  <h3>用户管理</h3>
</div>

<div class="widget-body">
  <table class="table">
    <%= render @users %>
  </table>
</div>

<div class=“widget-footer”>
  <%= will_paginate @users %>
</div>