<% content_for :content do %>
  <div class="row">
    <div class="span8">
      <%= notice_message %>
      <%= yield %>
    </div>
    <div class="span4">
      <div class="widget">
        <div class="widget-content">
          <%= render User.limit(10) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>